<div  class="mx-auto md:w-2/3  p-8 items-center text-center">
  <br/>
  <h1 class="font-bold text-4xl">Editing Code</h1>
  <%= render "form", blog: @blog %>
  <div class="p-8">
    <%= link_to "Show this Code", @blog, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Code of the Day", blogs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
