<div class="mx-auto md:w-2/3  p-8 items-center text-center">
  <div id="blogs" class="p-8 text-6xl ">
    Code of the day
    <br/>
  </div>
  <%= render @blogs %>
  <%= link_to 'New blog', new_blog_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
</div>
