<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @blog %>
    <%= link_to 'Edit this Code', edit_blog_path(@blog), class: "mt-2 rounded-lg py-3 px-5 bg-yellow-100 inline-block font-medium shadow-lg shadow-yellow-500" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this Code', blog_path(@blog), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-100 font-medium shadow-lg shadow-red-500" %>
    </div>
    <%= link_to 'Code of the  Day', blogs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
